    <div class="ui container">
       <header>
           <div class="logo">
               <img src="../assets/img/logo.jpg" alt="logo">
           </div>
           <div class="h1">
               <h1>Продажа автомобилей в Украине</h1>
           </div> 
       </header>
       <main>
           <div class="ui fluid action input">
              <input type="text" placeholder="Поиск...">
              <div class="ui button">Поиск</div>
           </div>
            <div class="ui form">
              <div class="inline fields">
                <label for="fruit">Сортировать по:</label>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
                    <label>Марка</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="fruit" tabindex="0" class="hidden">
                    <label>Цена</label>
                  </div>
                </div>
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="fruit" tabindex="0" class="hidden">
                    <label>Год выпуска</label>
                  </div>
                </div>
              </div>
            </div>
            <router-outlet></router-outlet>
       </main>
       <div class="load">
           <button class="fluid ui button">Загрузить еще</button>
       </div>
    </div>